.nav-bottom {
   padding: 2.5rem 0;
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid #F3D1BF;

   .menu,
   .service {
      h2 {
         color: #EF6D58;
         margin-bottom: 1.5rem;
      }

      li {
         margin-bottom: 1rem;

         a {
            color: #000;
         }
      }
   }

   .social {
      a {
         display: inline-block;
         background-color: #EF6D58;
         border-radius: 50%;
         width: 50px;
         height: 50px;
         position: relative;

         img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
      }
   }
}

@media screen and (max-width:768px) {
   .nav-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .name {
         margin-bottom: 4rem !important;
      }

      .menu {
         margin-bottom: 3rem;
      }

      .menu,
      .service h2 {
         text-align: center;
      }

      .service {
         margin-bottom: 3rem;
      }


   }

}